<div class="container">
				<div role="tabpanel" class="tab-pane" id="theaters">


					<table class="table">
					            <thead>
					                <tr>
					                    <th>ID</th>
					                    <th>Name</th>
															<th>Location</th>
															<th>ShowTiming</th>

					              </tr>
					            </thead>
					            <tbody>
					                <tr>
					                 <td><input ng-model="thtre.movieID"/></td>

					                    <td><input ng-model="thtre.theaterID"/></td>
					                    <td><input ng-model="thtre.theaterName"/></td>
															<td><input ng-model="thtre.location"/></td>
															<td><input ng-model="thtre.showTime"/></td>

					                  <td><button ng-click="addTheater()" class="btn btn-primary">Add Movie</button></td>
					                  <td><button ng-click="updateTheater()" class="btn btn-primary">Update</button></td>

					                </tr>
					                <tr ng-repeat=" thtre in theaterlist">
					                    <td>{{thtre.theaterID}}</td>
					                    <td>{{thtre.theaterName}}</td>
					                    <td>{{thtre.location}}</td>
					                    <td>{{thtre.showTime}}</td>

					                   <td><button ng-click="removeTheater(thtre)" class="btn btn-danger">Remove</button></td>
					                    <td><button ng-click="editTheater(thtre)" class="btn btn-primary">Edit</button></td>
					                </tr>
					            </tbody>
					 </table>

				</div>
        <div role="tabpanel" class="tab-pane" id="messages">Lorem Ipsum is simply dummy text of the printi

					, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>
          <div role="tabpanel" class="tab-pane" id="settings">Lorem Ipsum is simply dum
						entially unchanged. It
						was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passage..</div>
          </div>
</div>
      </div>
	</div>
</div>
<script>
$(document).ready(function(){
    $(".nav-tabs a").click(function(){
        $(this).tab('show');
    });
    $('.nav-tabs a').on('shown.bs.tab', function(event){
        var x = $(event.target).text();         // active tab
        var y = $(event.relatedTarget).text();  // previous tab
        $(".act span").text(x);
        $(".prev span").text(y);
    });
});
</script>
