<div class="container">
<div class="table-responsive">
  <table class="table">
    <tr>
      <td><b>BOOKING ID</b></td>
      <td>
      <p>{{confirmInfo.bookingid}}</p>
    </td>
    </tr>

  <tr>
    <td><b>Movie title</b></td>
    <td>
    <p>{{confirmInfo.Title}}</p>
</td>
</tr>
<tr>
  <td><b>City</b></td>
  <td>
  <p>{{confirmInfo.CityName}}</p>
</td>
</tr>

<tr>
  <td><b>Theater</b></td>
  <td>
  <p>{{confirmInfo.HallName}}</p>
</td>
</tr>

<tr>
  <td><b>Date</b></td>
  <td>
  <p>{{confirmInfo.Day}}</p>
</td>
</tr>

<tr>
  <td><b>Show Time</b></td>
  <td>
  <p>{{confirmInfo.ShowTime}}</p>
</td>
</tr>

<tr>
  <td><b>no of seats</b></td>
  <td>
  <p>{{confirmInfo.NoTickets}}</p>
</td>

<tr>
  <td><b>Seat Number</b></td>
  <td>
  <p>{{confirmInfo.seatnumbers}}</p>
</td>
</tr>
<tr>
  <td><b>User Name</b></td>
  <td>
  <input type="text" ng-model="confirm.cnUser">
</td>
</tr>
<tr>
  <td><b>Mail ID</b></td>
  <td>
  <input type="email" ng-model="confirm.cnMail">
</td>
</tr>
<tr>
  <td><b>ACNT.NO</b></td>
  <td>
  <input type="number">
</td>
</tr>
<tr>
  <td><b>CDN</b></td>
  <td>
  <input type="string">
</td>
</tr>
<tr>
  <td><b>Total Amount</b></td>
  <td>
  <p>{{confirmInfo.totalAmnt}}</p>
</td>
</tr>




<tr>

  <td>
      <td><button ng-click="ConfirmBook(confirmlist)"  class="btn btn-success">CONFIRM</button></td>
  </td>
</tr>


</table>
</div>
