<div class="container">
  <button class="btn btn-info btn-block">CONFIRMATION PAGE</button>

<div class="table-responsive">
  <table class="table">
    <tr>
      <td><b>BOOKING ID</b></td>
      <td>
      <p>{{confirmInfo.bookingid}}</p>
    </td>
    </tr>

  <tr>
    <td><b>Movie title</b></td>
    <td>
    <p>{{confirmInfo.Title}}</p>
</td>
</tr>
<tr>
  <td><b>City</b></td>
  <td>
  <p>{{confirmInfo.CityName}}</p>
</td>
</tr>

<tr>
  <td><b>Theater</b></td>
  <td>
  <p>{{confirmInfo.HallName}}</p>
</td>
</tr>

<tr>
  <td><b>Date</b></td>
  <td>
  <p>{{confirmInfo.Day}}</p>
</td>
</tr>

<tr>
  <td><b>Show Time</b></td>
  <td>
  <p>{{confirmInfo.ShowTime}}</p>
</td>
</tr>

<tr>
  <td><b>no of seats</b></td>
  <td>
  <p>{{confirmInfo.NumberOfSeats}}</p>
</td>

<tr>
  <td><b>Seat Number</b></td>
  <td>
  <p>{{confirmInfo.seatnumbers}}</p>
</td>
</tr>
<tr>
  <td><b>User Name</b></td>
  <td>
  <input class="form-control" type="text" ng-model="confirm.cnUser" required>
</td>
</tr>
<tr>
  <td><b>Mail ID</b></td>
  <td>
  <input class="form-control" type="email" ng-model="confirm.cnMail" required>
  <!-- <span ng-show="confirm.cnMail.$error.required">Email is required.</span>
<span ng-show="confirm.cnMail.$error.email">Invalid email address.</span> -->
</td>
</tr>
<tr>
  <td><b>ACNT.NO</b></td>
  <td>
  <input class="form-control" type="text" required>
</td>
</tr>
<tr>
  <td><b>CVV</b></td>
  <td>
  <input class="form-control" type="string" required>
</td>
</tr>
<tr>
  <td><b>Total Amount</b></td>
  <td>
  <p>{{confirmInfo.totalAmnt}}</p>
</td>
</tr>




<tr>

  <td>
      <td><button ng-click="ConfirmBook(confirmlist)"  class="btn btn-success">CONFIRM</button></td>
  </td>
</tr>


</table>
</div>
