<div class="container">
<div class="table-responsive">
  <table class="table">
  <tr>
    <td><b>Movie title</b></td>
    <td>
    <p>{{bookingInfo.Title}}</p>
</td>
</tr>
<tr>
  <td><b>City</b></td>
  <td>
  <p>{{bookingInfo.CityName}}</p>
</td>
</tr>

<tr>
  <td><b>Theater</b></td>
  <td>
  <p>{{bookingInfo.HallName}}</p>
</td>
</tr>

<tr>
  <td><b>Date</b></td>
  <td>
  <p>{{bookingInfo.Day}}</p>
</td>
</tr>

<tr>
  <td><b>Show Time</b></td>
  <td>
  <p>{{bookingInfo.ShowTime}}</p>
</td>
</tr>




<tr>
  
  <td>
      <td><button ng-click="Confirm()"  class="btn btn-primary">CONFIRM</button></td>
  </td>
</tr>


</table>
</div>
