
<div class="container">
  <div class="row">

<div class="col-sm-5">

          <input type="text" class="form-control" placeholder="Search" ng-model="searching"/>
  <div class="col-sm-2" style="margin-left: 97%;margin-top: -34px">
    <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search" style="color:black"></span></button>
        </div>
</div>
</div>
<div class="row">
<div class="col-sm-5">
<ul class="list-group">
<li ng-show="searching" ng-repeat="m in moviList| filter:searching" class="list-group-item"> {{m.moviTitle}}</li>
</ul>
</div>
</div>
    <!-- <br>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="img/a1.jpg" alt="1" width="800" height="345">
        </div>
        <div class="item">
          <img src="img/a2.jpg" alt="2" width="800" height="345">
        </div>
        <div class="item">
          <img src="img/a3.jpg" alt="3" width="800" height="345">
        </div>
        <div class="item">
          <img src="img/a4.jpg" alt="4" width="800" height="345">
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div> -->



<form>
  <div style="padding:20px">
    <label class="radio-inline">
      <input type="radio" ng-model="moviRadio" name="optradio" value="All" checked>All
    </label>
    <label class="radio-inline">
      <input type="radio" ng-model="moviRadio" name="optradio" value="Tamil">Tamil
    </label>
    <label class="radio-inline">
      <input type="radio" ng-model="moviRadio" name="optradio" value="English">English
    </label>
    <label class="radio-inline">
      <input type="radio" ng-model="moviRadio" name="optradio" value="Hindi">Hindi
    </label>
    <label class="radio-inline">
      <input type="radio" ng-model="moviRadio" name="optradio" value="Telugu">Telugu
    </label>
    <label class="radio-inline">
      <input type="radio" ng-model="moviRadio" name="optradio" value="Malayalam">Malayalam
    </label>
</div>
<div>
    <div ng-switch="moviRadio">




   <div ng-switch-when="All"  class="movie-container">

<div class="row">
      <div ng-repeat="m in moviList" class="col-xs-6 col-sm-3 col-md-4">
        <img src="{{m.moviPoster}}" style="width:225px;height:225px;">

      <p style="display:table-caption;margin-left:57px;padding:19px">
      <p>{{m.moviTitle}}</p>
       {{m.moviYear}}
  {{m.moviLanguage}}
       <button ng-click="bookTicket(m)" class="btn btn-danger"><a href="#/ticketBooking">BOOK</button></p>


    </div>
  </div>
</div>


  <div ng-switch-when="Tamil">

    <!-- filter : {'name' : 'O', 'city' : 'London'} -->
    <div ng-repeat="m in moviList | filter:'Tamil'" class="col-xs-6 col-sm-3 col-md-4">
      <img src="{{m.moviPoster}}" style="width:225px;height:225px;"><br>
<p style="display:table-caption;margin-left:57px;padding:19px">
     <p>{{m.moviTitle}}</p>
     {{m.moviYear}}<br>
     {{m.moviLanguage}}
     <button ng-click="bookTicket(m)" class="btn btn-danger">BOOK</button></p>

   </div>
  </div>


  <div ng-switch-when="English">
    <div ng-repeat="m in moviList |filter:'English'" class="col-xs-6 col-sm-3 col-md-4">
      <img src="{{m.moviPoster}}" style="width:225px;height:225px;">
<p style="display:table-caption;margin-left:57px;padding:19px">
     {{m.moviTitle}}
     {{m.moviYear}}
     {{m.moviLanguage}}
     <button ng-click="bookTicket(m)" class="btn btn-danger"><a href="#/ticketBooking">BOOK</a></button></button></p>


    </div>

  </div>


  <div ng-switch-when="Hindi">
    <div ng-repeat="m in moviList |filter:'Hindi'" class="col-xs-6 col-sm-3 col-md-4">
      <img src="{{m.moviPoster}}" style="width:225px;height:225px;">
<p style="display:table-caption;margin-left:57px;padding:19px">
     {{m.moviTitle}}
     {{m.moviYear}}
     {{m.moviLanguage}}
     <button ng-click="bookTicket(m)" class="btn btn-danger">BOOK</button></p>


   </div>
 </div>


 <div ng-switch-when="Telugu">
   <div ng-repeat="m in moviList |filter:'Telugu'" class="col-xs-6 col-sm-3 col-md-4">
     <img src="{{m.moviPoster}}" style="width:225px;height:225px;">
<p style="display:table-caption;margin-left:57px;padding:19px">
    {{m.moviTitle}}
    {{m.moviYear}}
    {{m.moviLanguage}}
    <button ng-click="bookTicket(m)" class="btn btn-danger"><a href="#/ticketBooking">BOOK</a></button></button></p>
  </div>

</div>

<div ng-switch-when="Malayalam">
  <div ng-repeat="m in moviList |filter:'Malayalam'" class="col-xs-6 col-sm-3 col-md-4">
    <img src="{{m.moviPoster}}" style="width:225px;height:225px;">
<p style="display:table-caption;margin-left:57px;padding:19px">
   {{m.moviTitle}}
   {{m.moviYear}}
   {{m.moviLanguage}}
   <button ng-click="bookTicket(m)" class="btn btn-danger"><a href="#/ticketBooking">BOOK</a></button></button></p>
 </div>

</div>
</div>
  </form>
</div>
</div>
