


<div class="container">



<img src="{{movieinfo.moviPoster}}" style="width:300px;height:400px;float: left;">






<div class="table-responsive">
  <table class="table">
  <tr>
    <td><b>Movie title</b></td>
    <td>
    <p>{{movieinfo.moviTitle}}</p>
</td>
  <!-- <td>ng-model="book.FilmName"{{movieinfo.moviTitle}} </td> -->
</tr>

<tr>
  <td><b>Select City</b></td>
  <td><select ng-model="book.CityName">
        <option ng-repeat="map in maplist">{{map.City}}</option>
  </select></td>
</tr>
<tr>
  <td><b>Select Theater</b></td>
  <td><select ng-model="book.HallName">
        <option ng-repeat="map in maplist| filter:book.CityName| filter:movieinfo.moviTitle">{{map.Hall}}</option>
  </select></td>
</tr>
<tr>
  <td><b>Select Date</td>
  <td> <input  type="date" ng-model="book.Day"/></td>
 </tr>
 <tr>
   <td><b>Select Show Time</b></td>
   <td>
  <select ng-model="book.ShowTime" ng-change="showseat()">
        <option ng-repeat="map in maplist|filter:movieinfo.moviTitle |filter:book.HallName">{{map.ShowTime}}</option>
  </select></td>
</tr>
<tr>
  <td><b>Amount</b></td>
  <td>
 <select ng-model="book.Amount">
        <option>50</option>
       <option>100</option>
       <option>150</option>
 </select></td>

</tr>

<tr>
  <td><b>Select Number Of Tickets</b></td>
  <td>
 <select ng-model="book.NoTickets">
        <option>1</option>
       <option>2</option>
       <option>3</option>
       <option>4</option>
       <option>5</option>

 </select></td>

</tr>



<tr>
  <td>
  </td>
  <td>
      <td><button ng-click="add()"  class="btn btn-primary">Done</button></td>
  </td>
</tr>
<!--
<tr>Book
  <td><b>total Amount</b></td>
<td><p>{{Totalamount}}</p></td>
</tr> -->

</table>
</div>





<div  ng-show="seat">
<table class="seatLayout"style="margin-top:1%;">

      <div style="margin-left:5%;margin-top:7%;">
        <img src="img/seat2.gif" style="width:30px;height:30px;">Available
        <img src="img/seat1.gif" style="width:30px;height:30px;">Reserved
      </div>
    <tbody>
      <tr>
            <td></td>
            <td ng-repeat="col in cols track by $index" ng-bind="col"></td>
        </tr>
        <tr class="tablestyle" ng-repeat="row in rows">
            <td ng-bind="row"></td>
            <td ng-repeat="col in cols" ng-click="seatClicked(row + col)"  ng-switch on="getStatus(row + col)" ng-disabled="disableSeat" style="padding: 5px 5px 5px 5px;">
                <img ng-switch-when="selected" src="img/seat1.gif" style="width:25px;height:25px;">
                <img ng-switch-when="reserved" src="img/seat1.gif" style="width:25px;height:25px;">
                <img ng-switch-default src="img/seat2.gif" style="width:25px;height:25px;">
                <!-- <img id="myImage" ng-switch-default src="img/seat2.gif" style="width:25px;height:25px;"> -->

            </td>
        </tr>
        </tbody>
        </table>

<div style="background-color:black;width:31%;">
<h4 style="color:white;text-align:center">SCREEN</h4> </div>
<div class="table-responsive">
  <table class="table">
  <tr>
    <td><b>Seating Arrangement</b></td>
  <td><p id="seatno"></p></td>
  </tr>

  <tr>
    <td><b>No Of seats</b></td>
  <td><p>{{NumberOfSeats}}</p></td>
  </tr>
  <tr>
<td>  <button ng-click="bk(Booklist)" class="btn btn-primary">Confirm</button></td>
</tr>
</table>
</div>
</div>
</div>
