<style>


div.stars {

  width: 270px;

  display: inline-block;

}



input.star { display: none; }



label.star {

  float: right;

  padding: 10px;

  font-size: 36px;

  color: #444;

  transition: all .2s;

}



input.star:checked ~ label.star:before {

  content: '\f005';

  color: #FD4;

  transition: all .25s;

}



input.star-5:checked ~ label.star:before {

  color: #FE7;

  text-shadow: 0 0 20px #952;

}



input.star-1:checked ~ label.star:before { color: #F62; }



label.star:hover { transform: rotate(-15deg) scale(1.3); }



label.star:before {

  content: '\f006';

  font-family: FontAwesome;

}

</style>

<div class="container">



<img src="{{movieinfo.moviPoster}}" style="width:300px;height:400px;float: left;">



<div class="stars"    style=" margin-left: -25%;
    margin-top: 36%;">

  <form action="" ng-submit="submitForm()">

    <input class="star star-5" id="star-5" type="radio" name="star" value="1"/>

    <label class="star star-5" for="star-5"></label>

    <input class="star star-4" id="star-4" type="radio" name="star" value="2"/>

    <label class="star star-4" for="star-4"></label>

    <input class="star star-3" id="star-3" type="radio" name="star" value="3"/>

    <label class="star star-3" for="star-3"></label>

    <input class="star star-2" id="star-2" type="radio" name="star" value=4/>

    <label class="star star-2" for="star-2"></label>

    <input class="star star-1" id="star-1" type="radio" name="star" value=5/>

    <label class="star star-1" for="star-1"></label>
    <button type="submit">Submit</button>
  </form>
  <form>
  <div class="form-group">
    <label for="comment">Comment:</label>
    <textarea ng-model="userComments" class="form-control" rows="5" cols="3" id="comment"></textarea>
  </div>

</form>


</div>



<div class="table-responsive"style="margin-top: -51%;
">
  <table class="table">
  <tr>
    <td><b>Movie title</b></td>
    <td>
    <p>{{movieinfo.moviTitle}}</p>
</td>
  <!-- <td>ng-model="book.FilmName"{{movieinfo.moviTitle}} </td> -->
</tr>

<tr>
  <td><b>Select City</b></td>
  <td><select ng-model="book.CityName">
        <option ng-repeat="map in maplist">{{map.City}}</option>
  </select></td>
</tr>
<tr>
  <td><b>Select Theater</b></td>
  <td><select ng-model="book.HallName">
        <option ng-repeat="map in maplist| filter:book.CityName| filter:movieinfo.moviTitle">{{map.Hall}}</option>
  </select></td>
</tr>
<tr>
  <td><b>Select Date</td>
  <td> <input  type="date" ng-model="book.Day"/></td>
 </tr>
 <tr>
   <td><b>Select Show Time</b></td>
   <td>
  <select ng-model="book.ShowTime">
        <option ng-repeat="map in maplist|filter:bookHallName">{{map.ShowTime}}</option>
  </select></td>
</tr>
<tr>
  <td><b>Amount</b></td>
  <td>
 <select ng-model="book.Amount">
        <option>50</option>
       <option>100</option>
       <option>150</option>
 </select></td>

</tr>

<tr>
  <td><b>Select Number Of Tickets</b></td>
  <td>
 <select ng-model="book.NoTickets">
        <option>1</option>
       <option>2</option>
       <option>3</option>
       <option>4</option>
       <option>5</option>

 </select></td>

</tr>


<tr>
  <td><b>Seating Arrangement</b></td>
<td><p id="seatno"></p></td>
</tr>

<tr>
  <td><b>No Of seats</b></td>
<td><p>{{NumberOfSeats}}</p></td>
</tr>
<tr>
  <td>
  </td>
  <td>
      <td><button ng-click="addBook()" class="btn btn-primary">Done</button></td>
  </td>
</tr>
<!--
<tr>
  <td><b>total Amount</b></td>
<td><p>{{Totalamount}}</p></td>
</tr> -->

</table>
</div>






<table class="seatLayout"style="margin-top:1%;
    margin-left: 39%;">

      <div style="margin-left: 45%;margin-top:7%;">
        <img src="img/seat2.gif" style="width:30px;height:30px;">Available
        <img src="img/seat1.gif" style="width:30px;height:30px;">Reserved
      </div>
    <tbody>
      <tr>
            <td></td>
            <td ng-repeat="col in cols track by $index" ng-bind="col"></td>
        </tr>
        <tr class="tablestyle" ng-repeat="row in rows">
            <td ng-bind="row"></td>
            <td ng-repeat="col in cols" ng-click="seatClicked(row + col)" ng-switch on="getStatus(row + col)" ng-disabled="disableSeat" style="padding: 5px 5px 5px 5px;">
                <img ng-switch-when="selected" src="img/seat1.gif" style="width:25px;height:25px;">
                <!-- <img ng-switch-when="reserved" src="img/seatbook.png" style="width:30px;height:30px;"> -->
                <img ng-switch-default src="img/seat2.gif" style="width:25px;height:25px;">
                <!-- <img id="myImage" ng-switch-default src="img/seat2.gif" style="width:25px;height:25px;"> -->

            </td>
        </tr>
    </tbody>
</table>


<div style="background-color:black;width: 32%;margin-left: 39%;">
<h4 style="color:white;text-align:center">SCREEN</h4>
</div>
</div>
