<style>
body { padding-top: 60px; }
.nav.nav-justified > li > a { position: relative; }
.nav.nav-justified > li > a:hover,
.nav.nav-justified > li > a:focus { background-color: transparent; }
.nav.nav-justified > li > a > .quote {
    position: absolute;
    left: 0px;
    top: 0;
    opacity: 0;
    width: 30px;
    height: 30px;
    padding: 5px;
    background-color: #13c0ba;
    border-radius: 15px;
    color: #fff;
}
.nav.nav-justified > li.active > a > .quote { opacity: 1; }
.nav.nav-justified > li > a > img { box-shadow: 0 0 0 5px #13c0ba; }
.nav.nav-justified > li > a > img {
    max-width: 100%;
    opacity: .3;
    -webkit-transform: scale(.8,.8);
            transform: scale(.8,.8);
    -webkit-transition: all 0.3s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            transition: all 0.3s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.nav.nav-justified > li.active > a > img,
.nav.nav-justified > li:hover > a > img,
.nav.nav-justified > li:focus > a > img {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
    -webkit-transition: all 0.3s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            transition: all 0.3s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.tab-pane .tab-inner { padding: 30px 0 20px; }

@media (min-width: 768px) {
    .nav.nav-justified > li > a > .quote {
        left: auto;
        top: auto;
        right: 20px;
        bottom: 0px;
    }
}
</style>


<div class="[ container text-center ]">
<div class="[ row ]">
<div class="[ col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 ]" role="tabpanel">
<div class="[ col-xs-4 col-sm-12 ]">
<!-- Nav tabs -->
<ul class="[ nav nav-justified ]" id="nav-tabs" role="tablist">
<li role="presentation" class="active">
<a data-target="#dustin" aria-controls="dustin" role="tab" data-toggle="tab">
<img class="img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/dustinlamont/128.jpg" />
<span class="quote"><i class="fa fa-quote-left"></i></span>
</a>
</li>
<li role="presentation" class="">
<a data-target="#daksh" aria-controls="daksh" role="tab" data-toggle="tab">
<img class="img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/dakshbhagya/128.jpg" />
<span class="quote"><i class="fa fa-quote-left"></i></span>
</a>
</li>
<li role="presentation" class="">
<a data-target="#anna" aria-controls="anna" role="tab" data-toggle="tab">
<img class="img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/annapickard/128.jpg" />
<span class="quote"><i class="fa fa-quote-left"></i></span>
</a>
</li>
<li role="presentation" class="">
<a  data-target="#wafer" aria-controls="wafer" role="tab" data-toggle="tab">
<img class="img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/waferbaby/128.jpg" />
<span class="quote"><i class="fa fa-quote-left"></i></span>
</a>
</li>
<li role="presentation" class="">
<a  data-target="#Map" aria-controls="wafer" role="tab" data-toggle="tab">
<img class="img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/waferbaby/128.jpg" />
<span class="quote"><i class="fa fa-quote-left"></i></span>
</a>
</li>
</ul>
</div>
<div class="[ col-xs-8 col-sm-12 ]">
<!-- Tab panes -->
<div class="tab-content" id="tabs-collapse">
<div role="tabpanel" class="tab-pane fade in active" id="dustin">
<div class="tab-inner">
  <table class="table">
  <thead>
  <tr>

  <th>Show time</th>


  </tr>
  </thead>
  <tbody>
  <tr>


  <td><input class="form-control" ng-model="tim.showTime"/></td>

  <td><button ng-click="addShow()" class="btn btn-primary">Add Time</button></td>
  <td><button ng-click="updateShow()" class="btn btn-primary">Update</button></td>

  </tr>
  <tr ng-repeat="tim in timlist">

  <td>{{tim.showTime}}</td>

  <td><button ng-click="removeShow(tim)" class="btn btn-danger">Remove</button></td>
  <td><button ng-click="editShow(tim)" class="btn btn-primary">Edit</button></td>
  </tr>
  </tbody>
  </table>
<!-- <p class="lead">Etiam tincidunt enim et pretium efficitur. Donec auctor leo sollicitudin eros iaculis sollicitudin.</p>
<hr>
<p><strong class="text-uppercase">Dustin Lamont</strong></p>
<p><em class="text-capitalize"> Senior web developer</em> at <a href="#">Apple</a></p> -->
</div>
</div>

<div role="tabpanel" class="tab-pane fade" id="daksh">
<div class="tab-inner">
  <table class="table">
<thead>
<tr>

<th>City Name</th>


</tr>
</thead>
<tbody>
<tr>


<td><input class="form-control" ng-model="loc.cityName"/></td>

<td><button ng-click="addCity()" class="btn btn-primary">Add City</button></td>
<td><button ng-click="updateCity()" class="btn btn-primary">Update</button></td>

</tr>
<tr ng-repeat="loc in loclist">

<td>{{loc.cityName}}</td>

<td><button ng-click="removeCity(loc)" class="btn btn-danger">Remove</button></td>
<td><button ng-click="editCity(loc)" class="btn btn-primary">Edit</button></td>
</tr>
</tbody>
</table>




<!-- <p class="lead">Suspendisse dictum gravida est, nec consequat tortor venenatis a. Suspendisse vitae venenatis sapien.</p>
<hr>
<p><strong class="text-uppercase">Daksh Bhagya</strong></p>
<p><em class="text-capitalize"> UX designer</em> at <a href="#">Google</a></p> -->
</div>
</div>

<div role="tabpanel" class="tab-pane fade" id="anna">
<div class="tab-inner">
  <table class="table">
  <thead>
  <tr>

  <th>Theater Name</th>
  <th>City</th>
  <th>Show time</th>

  </tr>
  </thead>
  <tbody>
  <tr>


  <td><input class="form-control" ng-model="thtre.TheaterName"/></td>
  <td>
  <div class="form-group">

  <select class="form-control" ng-model="thtre.location">
  <option ng-repeat="loc in loclist">{{loc.cityName}}</option>

  </select></div></td>


  <td>
    <div>
      <select id="selecttime" class="form-control" >
    <option ng-repeat="tim in timlist">{{tim.showTime}}</option>

  </select>
  </div>
  </td>
  <td>
    <div>

  <td><button id="add" class="btn btn-primary">Add Time</button></td>
  </div>
         <div>
                 <td><select id="time" ng-model="thtre.showTime" multiple class="form-control" ></select></td>

    </div></td>

  <td><button ng-click="addTheater()" class="btn btn-primary">Add Theater</button></td>
  <td><button ng-click="updateTheater()" class="btn btn-primary">Update</button></td>

  </tr>
  <tr ng-repeat="thtre in thtrelist">

  <td>{{thtre.TheaterName}}</td>
  <td>{{thtre.location}}</td>
  <td>{{thtre.showTime}}</td>

  <td><button ng-click="removeTheater(thtre)" class="btn btn-danger">Remove</button></td>
  <td><button ng-click="editTheater(thtre)" class="btn btn-primary">Edit</button></td>
  </tr>
  </tbody>
  </table>

</div>
</div>

<div role="tabpanel" class="tab-pane fade" id="wafer">
<div class="tab-inner">
  <table>
  <tbody>
  <tr>
  <th>Movie Name</th>
  <th>Movie Year</th> </tr>
  <tr><td><input class="form-control" ng-model="movi.moviTitle" placeholder="Title"/></td>
    <td><input class="form-control" ng-model="movi.moviYear" placeholder="Year"/></td>
  <td><button ng-click="addMovie(movi)" class="btn btn-primary">Add </button></td>
  <td><button ng-click="updateMovie()" class="btn btn-primary">Update</button></td></tr>
  <tr ng-repeat="m in moviList">
  <td>{{m.moviTitle}}</td>
  <td>{{m.moviYear}}</td>
  <td>{{m.moviLanguage}}</td>

  <td><img src="{{m.moviPoster}}" style="width:100px;height:100px;"></td>

  <td><button ng-click="removeMovie(m)" class="btn btn-danger">Remove</button></td>
  <td><button ng-click="editMovie(m)" class="btn btn-primary">Edit</button></td>
  </tr>
  </tbody>
  </table>


</div>
</div>

<div role="tabpanel" class="tab-pane fade" id="Map">
<div class="tab-inner">
  <table class="table">
  <thead>
  <tr>
  <th>Movie</th>
  <th>Language</th>
  <th>City</th>
  <th>Theater</th>
  <th>Show time</th>

  <th>From</th>
  <th>To</th>

  </tr>
  </thead>
  <tbody>
  <tr>

  <td>
  <div class="form-group">

  <select class="form-control" ng-model="map.Film">
  <option ng-repeat="m in moviList">{{m.moviTitle}}</option>

  </select></div></td>
  <td>
  <div class="form-group">
  <input type="text" class="form-control" ng-model="map.Language">
  </select></div></td>

  <td>
  <div class="form-group">

  <select class="form-control" ng-model="map.City">
  <option ng-repeat="loc in loclist">{{loc.cityName}}</option>
  </select></div></td>
  <td>
  <div class="form-group">

  <select id="thname" class="form-control" ng-model="map.Hall" >

  <option ng-repeat="th in thtrelist |filter:map.City">{{th.TheaterName}}</option>
  </select></div></td>
  ct></div></td> -->
  <td>
  <select class="form-control" id="selecttime" ng-model="map.ShowTime">
     <optgroup label="Select" ng-repeat="t in thtrelist| filter:map.Hall">
       <option ng-repeat="t in t.showTime" value={{t}}>{{t}}</option>
     </optgroup>
   </select>
  </td>
  <td><input class="form-control" type="date" ng-model="map.From"></td>
  <td><input class="form-control" type="date" ng-model="map.To"></td>

  <td><button ng-click="addMap()" class="btn btn-primary">Add</button></td>
  <td><button ng-click="updateMap()" class="btn btn-primary">Update</button></td>
  </tr>
  <tr ng-repeat="map in maplist">
  <td>{{map.Film}}</td>
  <td>{{map.Language}}</td>

  <td>{{map.City}}</td>
  <td>{{map.Hall}}</td>
  <td>{{map.ShowTime}}</td>
  <td>{{map.From}}</td>
  <td>{{map.To}}</td>

  <td><button ng-click="removeMap(map)" class="btn btn-danger">Remove</button></td>
  <td><button ng-click="editMap(map)" class="btn btn-primary">Edit</button></td>
  </tr>
  </tbody>
  </table>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
